mainmenu "BT controller application"
 
menu "Application configuration"
 
module = MAIN_MODULE
module-str = Main module
source "subsys/logging/Kconfig.template.log_config"
 
module = MESH_MODULE
module-str = Mesh module
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"